<p> Hello{{ username }},</p>
<p>You are receiving this email because a password reset request has been requested for your account. <br>
     You can reset it by clicking on this link:
</p>
<p>
    <a href="{{ url('password_reset_new', {'resetPasswordToken': token}) }}">
        {{ url('password_reset_new', {'resetPasswordToken': token}) }}
    </a>
</p>

<p> If you are not the source of this request, please ignore this email </p>
